@import 'style.scss';

* {
    box-sizing: border-box;
}

body {
 font-family: $font-family;
//  border: 1px solid blue;
//  font-size: 20px;

}

.menu{
    width: 80%;
    display: flex;
    flex-direction: column;
    // border: 1px solid green;
    margin: 0 10%;
    img {
        width: 100%;
        margin-top: 5%;
    }
}

.menusection1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
   
    @media (min-width: 750px) {
        display:flex;
        flex-flow: column wrap;
        height: 45em;
    }
}
.menusection2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    // min-width: 300;
    
    @media (min-width: 750px) {
        display:flex;
        flex-flow: column wrap;
        height: 25em;
    }
}

.menu-sub-section {
    // display: flex;
    // flex-direction: column;
    // border: 1px solid red;
    // min-width: 300px;
    // max-width: 400px;
    width: 45%;
        
    
    &__table{
        width: 100%;
        // max-width: 400px;
        text-align: justify;
    }
}


