//for imports of other style sheets and variables
$font-family:'Open Sans Condensed', sans-serif;
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1rem;
$span-font-size: .8rem;
$p-font-size: .8rem;
$color: rgb(59, 59, 59);
$bg_color: white;

